* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    max-width: 75px;
    max-height: 75px;
}
body {
    background-color: black;
    height: 100vh;
    }
.bodyimg{
    background-image: url(../assets/magstrimarchilogo.png);
    background-color: black;
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: 50% 25vh;
    background-attachment: fixed;
}
header {
    grid-area: header;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    padding: 30px 20px;
    z-index: 10;
    align-items: center;
}
header .abajo{
background-color: white;
    padding: 15px 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.7s;
    font-family: AltonaSans;
    font-size: 20px;
}

header.abajo ul li a{
    color: black;
}

.section1{
    grid-area: sect1;
    width: 100%;
    height: 45vh;
}

.section2{
    grid-area: sect2;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 51 68);
    opacity: 0.89;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.section2 h1{
    font-size: 40px;
}

.textBio{
    font-family: AltonaSans;
    color: white;
    padding: 7px;
    font-size: 24px;
}

.section3 {
    grid-area: sect3;
    background-color: transparent;
    opacity: 0.97;
}
.section4 {
    grid-area: sect4;
    opacity: 0.97;
}

.sectionCenter {
    display: flex;
    justify-content: center;
}
.gridMain {
    display: grid;
    width: 100%;
    justify-items: stretch;
grid-template-areas: 
" header "
"sect1 "
"sect2 "
"sect3 "
"sect4 "
"footer "
;
}
.footer{
    grid-area: footer;
    width: 100% ;
}

.divSection{
display: inline-block;
justify-content: center;
text-align: center;
margin: 10px;
padding: 30px;
}

main section div p {
    font-size: 20px;
}
.btnBio {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(10 77 67);
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.35s;
}
.btnBio:hover{
    color:black;
    background-color: rgb(137 11 55);
}
.imgCards{
    width: 333px;
    height: 520px;
}
.iconFooter{
max-width: 40px;
max-height: 40px;
}
.animado{
    opacity: 0;
    transform: all 0.5;
}

.abajo{
    padding: 10px 0px;
    align-items: center;
    background-color: rgb(182, 182, 182);
    border-color: white;
    border-radius: 25%;
    border-width: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0.95;
}
.abajo nav ul li a {
    font-weight: bold;
}
.tituloCard{
    font-size: 50px;
}
.card-body{
    text-align: center;
    align-items: center;
}

@font-face {
    font-family: AltonaSans;
    src: url(../assets/AltonaSans-Regular.ttf);
}
@font-face {
    font-family: KidDos;
    src: url(../assets/KIdDOS-Regular.ttf);
}
.letraAltona{
    font-family: AltonaSans;
}
.letraKid{
font-family: KidDos;
}
.card-bio{
    display: flex;
    justify-content: center;
    background-color: rgb(0 51 68);
    align-items: center;
    opacity: 0.97;
    color: white;
    border-radius: 15px;
    width: 90%;
}

@media (min-width: 575px) and (max-width: 868px) {
    main{
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .section2 {
        width: 100vh;
    }
    .container-fluid{
        width: 100%;
    }
}